.box{
  width: 30%;
  border:  1px solid black;
  border-radius: 20px;
  float: right;
  padding: 20px;
  margin: 20px;
  display: flex;
  position: fixed;
  background-color: rgb(196, 250, 196);
  color: green;
  top: 10px;
  right: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.icons{
  /* margin-left: 100px; */
  /* float: inline-end; */
  position: absolute;
  top: 10px;
  right: 10px;
}


.App{
  text-align: center;
  /* background-color: #282c34; */
  min-height: 100vh;
}

.user-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: #61dafb;
  padding: 50px;
  margin: auto;
}

.user-control{
  height: 50px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 6px;
}

.form-control::placeholder{
  padding-left: 10px;
}

.form-btn{
  border-radius: 5px;
  background-color: slategray;
  padding: 10px 20px;
  color: white;
  font-family: fantasy;
  letter-spacing: 0.4px;
}