.App{
  text-align: center;
}

.user-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: #61dafb;
  padding: 50px;
  margin: auto;
}

.user-control{
  height: 50px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 6px;
}

.form-control::placeholder{
  padding-left: 10px;
}

.form-btn{
  border-radius: 5px;
  background-color: slategray;
  padding: 10px 20px;
  color: white;
  font-family: fantasy;
  letter-spacing: 0.4px;
}