.logo img{
    width: 80px;
}

.logo{
    
    border: 2px solid black;
}
.card{
    width: 20%;
    height: 50vh;
    /* margin: auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mid{
    text-align: left;
    margin: 20px;
}